/*
* @Author: YaYu
* @Date:   2017-10-22 17:06:09
* @Last Modified by:   YaYu
* @Last Modified time: 2017-10-27 17:19:28
*/
/*
* @Author: YaYu
* @Date:   2017-10-22 17:05:58
* @Last Modified by:   YaYu
* @Last Modified time: 2017-10-22 18:30:37
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body,html{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg,#cdccd2,#f6f5fb);
}
/* 新语logo */
.logo{
	width: 100px;
	height: 62px;
	background: url('../img/blogLogo.png') no-repeat center/cover;
	position: fixed;
	top: 5%;
	left: 5%;
}
/* 登录界面 */
.regView{
	width: 378px;
	height: 400px;
	background: rgba(160, 160, 160, 0.3);
	border-radius: 10px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	box-sizing: border-box;
	padding-top: 40px;
}
.loginReg{
	width: 330px;
	height: 42px;
	margin: 0 auto;
	background-image: linear-gradient(90deg,#cdccd2,#f6f5fb,#cdccd2);
	position: relative;
}
.loginT,.regT{
	font-size: 22px;
	line-height: 22px;
	padding-bottom: 4px;
	color: #000;
	font-weight: 400;
	margin-top: 10px;
}
.loginT{
	float: left;
	margin-left: 100px;
}
.loginT:hover{
	border-bottom: 2px solid #c974b0;
}
.regT{
	float: right;
	margin-right: 100px;
	border-bottom: 2px solid #42bcc5;
}
.circle{
	width: 4px;
	height: 42px;
	/* border-radius: 50%; */
	background-image: linear-gradient(90deg,#c974b0,#42bcc5);
	background-image: linear-gradient(90deg,#f6f5fb,#cdccd2,#f6f5fb);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.nameBox{
	padding: 20px 0 8px;
	overflow: hidden;
}
.passBox{
	padding: 12px 0 8px;
	overflow: hidden;
}
.codeBox{
	padding: 12px 0 8px;
	overflow: hidden;
}
.outInput{
	float: right;
	width: 244px;
	height: 36px;
	border: 1px solid #a19f9f;
	border-radius: 5px;
	box-shadow: 0 2px 10px 0 #a19f9f;
	margin-right: 36px;
}
label{
	float: right;
	font-size: 14px;
	color: #fff;
	line-height: 36px;
	margin-right: 8px;
}
input{
	display: inline-block;
	width: 238px;
	height: 30px;
	border: 1px solid #a19f9f;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 #a19f9f inset;
	background: none;
	outline: none;
	margin: 2px;
}
input[name=imgcode]{
	width: 113px;
	vertical-align: middle;
}
.imgcode{
	width: 113px;
	height: 30px;
	border: 1px solid #a19f9f;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 #a19f9f inset;
	background: none;
	margin: 2px;
	vertical-align: middle;
}
.loginBtn{
	display: block;
	width: 330px;
	height: 34px;
	background-image: linear-gradient(90deg,#c974b0,#42bcc5);
	border-radius: 5px;
	border: none;
	margin: 12px auto;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}